body {
  background: black;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  /* border: 3px solid white; */
}

#canvas1 {
  position: relative;
  width: 800px;
  height: 700px;
}

#p {
  color: white;
  font-size: 20px;
}

#gameSpeed {
  color: white;
  font-size: 20px;
}

#slider {
  width: 100%;
}
