#canvas1 {
  width: 500px;
  height: 700px;
  border: 3px solid #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  cursor: pointer;
}
